$bgColorDarkGray: #252627
$txtColorLightBlue: #a1dafb
  
body
  background: $bgColorDarkGray
  text-align: center
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
div
  color: $txtColorLightBlue