@import 'partials/_0vars.sass'
@import 'partials/_marker.sass'
@import 'partials/_sidebar.sass'
  
body
  margin: 0
  padding: 0
  background: $colorDarkGray
  text-align: center
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  color: $colorLightBlue

#root
  position: absolute
  top: 0
  bottom: 0
  width: 100%

#content-wrap
  @media screen and (min-width: $tabletWidth)
    display: grid
    grid-template-columns: minmax(261px, 23.60%) 1fr

#map
  position: relative
  height: 100vh
  width: 100%

  @media screen and (min-width: $tabletWidth)
    display: grid
    grid-column: 2

  
    