$bgColorDarkGray: #252627
$txtColorLightBlue: #a1dafb
  
body
  margin: 0
  padding: 0
  background: $bgColorDarkGray
  text-align: center
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
div
  color: $txtColorLightBlue

#root
  position: absolute
  top: 0
  bottom: 0
  width: 100%

#map 
  height: 100vh
  width: 100%

.marker
  transform: translate(-45%, -100%)
  transition: 0.5s ease-in-out

.marker:hover
  width: 48px
  transition: 0.2s ease-in-out

#side-menu-button
  display: none /* TEMP */
  position: absolute
  top: 10px
  left: 10px