$colorLightBlueOld: #A1DAFB

$colorLightBlueMarker: #73C5F6
$colorLightYellowMarker: #F6E273

$colorDarkGray: #252627
$colorDarkGrayRGB: rgb(37,38,39)
$colorLightBlue: #80B2D1
$colorLightYellow: #D19C80
$colorLightYellowRGB: rgb(209,156,128)

$mobileWidth: 480px
$tabletWidth: 720px