.marker
  transform: translate(-45%, -100%)
  transition: 0.5s ease-in-out

.marker:hover
  width: 48px
  transition: 0.2s ease-in-out

@media screen and (min-width: $tabletWidth) and (orientation: portrait)
  .marker
    width: 48px

  .marker:hover
    width: 60px

.info-box
  postion: relative
  width: 150px
  height: 200px
  background: rgba(0,0,0,.8)
  border: 2px solid $colorLightYellow
  border-radius: 5px
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.7);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.7);

  .info-box-content
    color: $colorLightBlue
    padding: 20px
    word-wrap: break-word

  .info-box-exit-button
    display: block
    margin: 80px auto 0