.hidden
  display: none

// SIDE MENU BUTTON    
#side-menu-button
  display: block
  position: absolute
  top: 10px
  left: 10px
  z-index: 5
  
  &:focus
    border: 1px solid $colorLightYellow

  #opened
    transform: rotate(180deg)
    transition-duration: 0.2s

  #closed 
    transform: rotate(0deg)
    transition-duration: 0.5s

  @media screen and (min-width: $tabletWidth)
    display: none

// SIDE BAR CONTAINER
#side-bar-container
  display: block
  background: $colorDarkGray

  &.mobile
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: -100%
  
  @media screen and (min-width: $tabletWidth)
    display: none

.side-bar-opened
  transform: translateX(100%)
  transition-duration: 0.4s

.side-bar-closed
  transform: translateX(0)
  transition-duration: 0.3s

// SIDE BAR
.side-bar
	display: grid
	grid-template-rows: 80px 1fr 20px
	height: 100%
	min-width: 280px

	&.on-desktop
		display: none

	@media screen and (min-width: $tabletWidth)
		grid-column: 1
		z-index: 1
		&.on-desktop
			display: grid
			box-shadow: 1px 0px 2px 0px rgba($colorDarkGrayRGB, .7);

	.logo
		background: #161718
		grid-row: 1
		font-size: 25px
		border-bottom: 1px solid $colorLightYellow

		h1 
			margin-top: 10px

		.logo-styling
			font-size: 20px
			font-style: italic
			color: $colorLightYellow
    
	.stations-list-container
		display: grid
		grid-row: 2
		grid-template-rows: 60px calc(100vh - 200px) 40px
		grid-template-columns: minmax(20px, 1fr) fit-content(80%) minmax(20px, 1fr)

		.nav-title
			margin: 0
			text-align: left
			grid-row: 1
			grid-column: 2
			align-self: center
			text-transform: uppercase
			color: $colorLightYellow

		.stations-list
			margin: 10px 0
			padding: 0 10px 0 0
			grid-row: 2
			grid-column: 2
			overflow-y: auto
  
			&::-webkit-scrollbar
				width: 10px
  
			&::-webkit-scrollbar-track
				background: black

			&::-webkit-scrollbar-thumb
				background: $colorLightYellow
				height: 20px

			&::-webkit-scrollbar-thumb:hover
				background: $colorLightBlue

			li
				list-style: none
				text-align: left

				.station-link
					text-decoration: none
					color: inherit

					&:hover, &:focus
						color: $colorLightYellow
						text-decoration: underline

		.filter-wrap
			grid-row: 3
			grid-column: 2
			padding-top: 10px

			input
				margin: 0
				padding: 0 5px 0
				width: calc(100% - 80px)
				height: 25px
				background: $colorLightYellow
				color: $colorDarkGray
				font-weight: bold 
				border: none
				font-size: 12px

			.filter-button
				padding: 0
				width: 70px
				height: 25px

	.copyright-wrap
		display: grid
		grid-row: 3
		color: $colorLightYellow
		grid-template-columns: minmax(20px, 1fr) fit-content(80%) minmax(20px, 1fr)

		.copyright-style
			display: inline
			grid-column: 2
			margin: 0
			align-self: center
			justify-self: left
			font-size: 10px
			text-transform: uppercase
			font-style: italic

			a 
				text-decoration: none
				color: inherit
				font-weight: bold

				&:hover, &:focus
					text-decoration: underline
					color: $colorLightBlue
				